* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6em;
}

.subtask {
    margin: 20px 0;
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 16px;
}

ul {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

ul > li {
    list-style-type: none;
    padding: 20px;
    float: left;
    background-color: blue;
    width: calc(100%/6);
}

ul > li img {
    margin: 0 auto;
    display: block;
}

.clearfix {
    clear: both;
}


/* Вашият CSS от тук надолу */

#subtask1 ul > li {
    width: 100%;
}

@media (min-width:400px) {
    #subtask1 ul > li {
        width: calc(100%/2);
    }
}

@media (min-width:600px) {
    #subtask1 ul > li {
        width: calc(100%/3);
    }
}

@media (min-width:1000px) {
    #subtask1 ul > li {
        width: calc(100%/6);
    }
}

#subtask2 ul > li:nth-child(even) {
  background: lightblue;
}

#subtask3 ul > li:hover {
  background: lightblue;
}

#subtask3 ul > li:hover img {
  animation: rotate 1s 1;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
     transform: rotate(360deg);
  }
}